.navbar-controls {
  display: inline-flex;
  padding-top: 1px;
  height: var(--header-height);
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 16px;
  }
  &__item {
    margin-right: 4px;
    padding: 0 6px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    &:last-child {
      margin-right: -6px;
    }
    @media (min-width: 768px) {
      margin-right: 8px;
    }
  }
  &__search {
    @media (min-width: 768px) {
      width: 25px;
    }
  }
  &__user {
    @media (min-width: 768px) {
      width: 30px;
    }
  }
}
