:root {
  // Problem: height transition is applied to navbar when we swith between mobile and desktops views.
  // Solution: height property of navbar stays the same for mobile and desktop,
  // but min-height gets changed.
  --navbar-height-mobile: 48px;
  --navbar-height-desktop: 52px;
  --navbar-height: var(--navbar-height-mobile);
  @media (min-width: 768px) {
    --navbar-height: var(--navbar-height-desktop);
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height-mobile);
  background-color: #000;
  transition: height 560ms cubic-bezier(0.52, 0.16, 0.24, 1);
  @media (max-width: 767px) {
    overflow-y: hidden;
  }
  @media (min-width: 768px) {
    min-height: var(--navbar-height-desktop);
  }
  &[data-menu-active=true] {
    height: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    @media (max-width: 767px) {
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.navbar-placeholder {
  display: block;
  height: var(--navbar-height);
}

.navbar-logo {
  position: relative;
  top: -2px;
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.navbar-separator {
  margin-left: 22px;
  margin-right: 16px;
  width: 0.5px;
  height: 20px;
  background-color: rgba(235, 235, 245, 0.19);
  @media (max-width: 767px) {
    display: none;
  }
}

.main-nav {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #000;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    height: var(--navbar-height);
    font-size: 14px;
    text-decoration: none;
    color: #f5f5f7;
    opacity: 0.8;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    &:hover {
      opacity: 1;
    }
  }
}
