.reset-btn {
  margin-left: 10px;
  border: 0;
  border-radius: 8px;
  padding: 0.5em 0.45em;
  font-size: 17px;
  cursor: pointer;
  color: #2997ff;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    box-shadow: inset 0 0 0 4px rgb(0 125 250 / 60%)
  }
}

.search-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 10px;
  display: flex;
  &-content {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
  }
  &-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
    opacity: 0.35;
  }
  &-input {
    flex-grow: 1;
    border: 0;
    border-radius: 8px;
    padding: 0;
    padding-left: 30px;
    font-size: 17px;
    line-height: 2.1;
    color: #f5f5f7;
    background-color: transparent;
    background-color: #1d1d1f;
    &:focus {
      outline: none;
    }
  }
  &-reset-btn-content {
    position: relative;
    button {
      opacity: 0;
      transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
      @at-root .search-bar--active & {
        opacity: 1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: calc(100% + 10px);
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #1d1d1f;
      transform: translateX(calc(100% - 10px));
      transform-origin: 0 0;
      transition-property: transform;
      transition-duration: 360ms;
      transition-timing-function: cubic-bezier(0.32, 0.08, 0.24, 1);
      @at-root .search-bar--active & {
        transform: translateX(0);
        transition-timing-function: cubic-bezier(0.32, 0.08, 0.24, 1);
      }
    }
  }
  &-input-placeholder {
    position: absolute;
    width: 100%;
  }
}
